body{
    width: 80%;
    margin: auto;
}
#pname{
    text-align: center;
}
hr{
    height: 2px;
    background-color: green;
}

h3{
    width: 100%;
    background-color: gray;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table th{
    background-color: green;
    color: white;
}
th,td{
    border-bottom: 1px solid gray;

}
.column{
    float: left;
    width: 10%;
    padding: 5px;
}

/* .row:after{
    content:"";
    clear both;
    display: table;
} */